
############################
# Misc.
############################

*#
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

node_modules

############################
# Tests
############################

testApp
coverage

.env

.gitlab-ci.yml
